@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yuyu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}


.body{
    background-image: url(https://media.istockphoto.com/id/1199467344/photo/cup-of-coffee-with-heart-shape-smoke-and-coffee-beans-on-burlap-sack-on-old-wooden-background.webp?s=1024x1024&w=is&k=20&c=vasYfK3z4wzjYaZvpnnk5CVcLUHL-0esbJtYSyy29Eo=);
}

.nav{
    text-align: right;
    text-decoration: none;
    padding: 10px 10px;
}
.n1{
    font-family: "Satisfy", cursive;
    font-size: 20px;
    padding: 10px 10px 10px 10px;
    color: aliceblue;
    text-decoration: none;
}
.mi{ 
    
    display: flex;
    justify-content: right;
    align-items: center;
    width: 1200px;
    position:relative;

}

.mi img{
    
    border-radius:30px;
} 
.h3{
     font-family: "Yuyu", sans-serif;
    font-size: 30px;
    color: rgb(160, 139, 112);
    position: absolute;
    top: 10%;
    left: 4%;
}
.head{
    align-items: last baseline;
    font-size:xx-large;
    color: aliceblue;
    font-family: "Creepster", system-ui;
    font-weight: 400;
    
    position:absolute;
    top: 1%;
    left: 50px;;
    
}
.h1{
   
    font-family: "Oswald", sans-serif;
    position:absolute;
    color: bisque; 
    top: 20%;
    left:4%;
    padding: 50px;
}
.hp{
    font-family: "Oleo Script", system-ui;
    color: aliceblue;
    font-size: 20px;
    position: absolute;
    top: 42% ;
    left: 4%;
}  
.b11{
    background-color: rgb(96, 49, 27);
    color: antiquewhite;
    font-size:20px;
    position:absolute;
    top: 75% ;
    left: 5%;
    border-radius: 30px;
    padding:15px 35px;
}

.b12{
    
    background-color:  antiquewhite;
    color: rgb(7, 7, 7);
    font-size:18px;
    position:absolute;
    top: 75% ;
    left: 27%;
    border-radius: 30px;
    padding:15px 35px;
    text-shadow: 90%;
}



