@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yuyu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}


.body{
    background-image: url(https://media.istockphoto.com/id/1199467344/photo/cup-of-coffee-with-heart-shape-smoke-and-coffee-beans-on-burlap-sack-on-old-wooden-background.webp?s=1024x1024&w=is&k=20&c=vasYfK3z4wzjYaZvpnnk5CVcLUHL-0esbJtYSyy29Eo=);
}

.nav{
    text-align: right;
    text-decoration: none;
    padding: 10px 10px;
}
.n1{
    font-family: "Satisfy", cursive;
    font-size: 20px;
    padding: 10px 10px 10px 10px;
    color: aliceblue;
    text-decoration: none;
}
.mi{ 
    
    display: flex;
    justify-content: right;
    align-items: center;
    width: 1200px;
    position:relative;

}

.mi img{
    
    border-radius:30px;
    
} 
.h3{
     font-family: "Yuyu", sans-serif;
    font-size: 30px;
    color: rgb(160, 139, 112);
    position: absolute;
    top: 10%;
    left: 4%;
}
.head{
    align-items: last baseline;
    font-size:xx-large;
    color: aliceblue;
    font-family: "Creepster", system-ui;
    font-weight: 400;
    
    position:absolute;
    top: 1%;
    left: 50px;;
    
}
.h1{
   
    font-family: "Oswald", sans-serif;
    position:absolute;
    color: bisque; 
    top: 20%;
    left:4%;
    padding: 50px;
}
.hp{
    font-family: "Oleo Script", system-ui;
    color: aliceblue;
    font-size: 20px;
    position: absolute;
    top: 42% ;
    left: 4%;
}  
.b11{
    background-color: rgb(96, 49, 27);
    color: antiquewhite;
    font-size:20px;
    position:absolute;
    top: 75% ;
    left: 5%;
    border-radius: 30px;
    padding:15px 35px;
}

.b12{
    
    background-color:  antiquewhite;
    color: rgb(7, 7, 7);
    font-size:18px;
    position:absolute;
    top: 75% ;
    left: 27%;
    border-radius: 30px;
    padding:15px 35px;
    text-shadow: 90%;
}

.body2{
    background-image:url("https://images.unsplash.com/photo-1622240644058-86d737f0b3ce?q=80&w=764&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");

background-size:cover;



}

body{
    font-family: Arial, sans-serif;
    background:#F5E6CA;
    margin:30px;
}

h1{
    text-align:center;
    color:#4E342E;
}

.about,
.contact{
    display:flex;
    gap:40px;
    align-items:center;
    margin-top:40px;
}

.about img,
.contact img{
    width:400px;
    border-radius:10px;
}

.text{
    line-height:30px;
}

form{
    width:350px;
}


textarea{
    width:100%;
    padding:10px;
    margin-bottom:15px;
}

button{
    background:#6F4E37;
    color:white;
    padding:10px 20px;
    cursor:pointer;
}



h1{
    text-align:center;
    color:#4E342E;
}

.menu{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:20px;
}

.card{
    width:250px;
    background:white;
    border-radius:10px;
    text-align:center;
    padding:15px;
}

.card img{
    width:100%;
    height:180px;
    object-fit:cover;
    border-radius:10px;
}

.card h3{
    color:#6F4E37;
}

.card h4{
    color:#D97706;
}

